body{
    margin:50px;
    background-image: url(connected.png);
    background-color: lightgreen;
}

#top{
    background-color: palegreen;
	background-image: radial-gradient(white 10%, transparent 10%);
	background-size: 30px 30px;
    height: 350px;
    width: 300px;
    border: solid black;
}

#friendfunc{
    text-align: center;
}

#friends {
    overflow: scroll; 
    overflow-x: hidden; 
    width: 300px; 
    height: 300px;
}