body {
    margin:50px;
    background-image: url(boxconnected.png);
    background-color: palegoldenrod;
    font-family: sans-serif;
}

.TopPart{
    background-image: url(connected.png);
    background-color: lightgreen;
    padding: 20px;
    position : relative;
    box-shadow: 0px 13px 10px black;
    transform: rotate(1deg);
}

.Header{
    margin-left: 20px;
    margin-right: 20px;
}

.ProfileContainer{
    display: inline-block;
    float:left;
    height: 300px;
}

.PhoneNumber{
    display: inline-block;
    float:left;
}

.PostPart{
    margin-left: 300px;
    height: 200px;
    border-left: solid black;
}

.nb{
    list-style-type: none;
}

.Username{
    margin-top: 30px;
    font-size: 35px;
    font-style: italic;
    color: black;
}

.ProfileMain{
    margin: 40px;
    margin-top: 30px;
}

.ProfilePhoto{
    background-color: white;
    width: 200px;
    height: 200px;
}

.Contact{
    background-color: azure;
    height: 200px;
    margin-left: 250px;
    margin-bottom: 100px;
}

h2 {
    color: darkgreen;
}

#friendslist{
    background-color: palegreen;
	background-image: radial-gradient(white 10%, transparent 10%);
	background-size: 30px 30px;
    height: 350px;
    width: 300px;
    border: solid black;
    position: fixed;
    bottom: -330px;
    right: 0;
}

#friendfunc{
    text-align: center;
}

#friends {
    overflow: scroll; 
    overflow-x: hidden; 
    width: 300px; 
    height: 300px;
}

.collapse {
    background-color: seagreen;
    color: white;
    cursor: pointer;
    padding: 20px;
    border: none;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active {
    background-color: darkseagreen;
    color: green;
    border-top: solid green;
}

.collapse:hover {
    background-color: darkslategray;
    color: lightgreen;
}

.postDiv {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: darkseagreen;
    border-bottom: solid green;
}

.mediaContent {
    margin-left: 60px;
    overflow: hidden;
    /* Change width and height in javascript if possible.*/
}

.profileInfo {
    height: 50px;
    max-width: 200px;
}

.commentBlock{
    border: solid palegoldenrod;
    padding-left: 20px;
    padding-right: 20px;
}

.comment{
    background: white;
}

.reactions{
    display: inline-block;
}

.messageContainer{
    background: white;
}

.postTemplate {
    border: solid white;
    padding: 10px;
}

.smallProfile {
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    object-position: center center;
    object-fit: cover;
    border-radius: 50%;
    background: white;
    margin-right: 10px;
}

.smallName{
    float: left;
    text-decoration: none;
    color: black;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}
