body {
    margin:50px;
    background-image: url(boxconnected.png);
    background-color: palegoldenrod;
}

.TopPart{
    background-image: url(connected.png);
    background-color: lightgreen;
    padding: 20px;
    position : relative;
    z-index  : -1;
    box-shadow: 0px 13px 10px black;
    transform: rotate(1deg);
}

.ProfileContainer{
    display: inline-block;
    float:left;
    height: 300px;
}

.PhoneNumber{
    display: inline-block;
    float:left;
}

.PostPart{
    margin-left: 300px;
    height: 200px;
    border-left: solid black;
}

.nb{
    list-style-type: none;
}

.UserName{
    height: 100px;
}

.ProfilePhoto{
    background-color: white;
    width: 200px;
    height: 200px;
}

.Contact{
    background-color: azure;
    height: 200px;
    margin-left: 250px;
    margin-bottom: 100px;
}