html {
    min-height:100%;
}

body {
    vertical-align: middle;
    margin:auto;
    background-image: url(connected.png), linear-gradient(lightgreen , #9198e5);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}