
body{
	margin:0;
	background-image:url(images/bg.jpg);
	background-repeat: repeat;
}

.div_top{
	width:100%;
	height:40px;
	background-color:#221d3b;
	margin:0 auto;
	position:fixed;
	z-index:100;
}

.top_menu{
	width:1046px;
	height:40px;
	margin:0 auto;
	line-height: 39px;
	color:#aca3cc;
}

.top_1{
	width:92px;
	height:41px;
	background-image: url(images/4.png);
    background-size: 575px 41px;
    background-position: 0 0;
	overflow: hidden;
	line-height: 123px;
	background-repeat:no-repeat;
	float:left;
}

.top_2{
	width:91px;
	height:41px;
	float:left;
}

.top_menu span{
	font-size:12px;
    cursor: pointer;
	margin-left:31px;

}

.top_menu i{
	width: 16px;
    height: 16px;
    position: absolute;
    margin-left: 8px;
    margin-top: 13px;
	background-image: url(images/1.png);
    background-size: 632px 388px;
}

.music{
	height: 40px;
    width: 67px;
	float:left;
	margin-left: 126px;
}

.music_left{
	height: 20px;
    width: 22px;
	background-color:#362e5c;
	float:left;
	margin-top:11px;
	cursor: pointer;
}

.music_right{
	height: 20px;
    width: 27px;
	background-color:#362e5c;
	float:left;
	margin-left:1px;
	margin-top:11px;
	cursor: pointer;
}

.music_right i{
	background-image: url(images/2.gif);
    background-size: 15px 10px;
	background-repeat:no-repeat;
	margin:5px;
}

.div_input{
	width:142px;
	height:40px;
	float:left;
}
.div_input input{
	border-radius: 2px;
    height: 18px;
	width:135px;
	border: none;
	background-color: rgba(255,255,255,.25);
	font-size: 12px;
	color:#aca3cc;
}
.div_input i{
	background-position: -452px -364px;
	margin-top:13px;
	margin-left:-20px;
	cursor: pointer;
}

.img_info{
	height: 40px;
    width: 95px;
	float:left;
	cursor: pointer;
}
.imglogo{
	height: 24px;
    width: 32px;
	float:left;
	margin-left: 6px;
	margin-top: 7px;
	cursor: pointer;
}

.shareImg{
	width:26px;
	height:41px;
	float:left;
	cursor: pointer;
}

.diamonds{
	width:26px;
	height:29px;
	float:left;
	background-repeat:no-repeat;
	background-image: url(images/3.gif);
    background-size: 22px 19px;
	margin-top: 12px;
	margin-left: 13px;
	cursor: pointer;
}

.bottom{
	width:100%;
	height:1400px;
	margin-top: 40px;
    float: left;
}

.userinfo{
	height: 40px;
    width: 50px;
	margin-left:3px;
	float:left;
	display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
	cursor: pointer;
}

.bottom_info{
	width:1046px;
	height:260px;
	margin:0 auto;
}


.user_bottom{
	width:279px;
	height:38px;
	margin-top:20px;
	float:left;
}

.name{
	width:205px;
	height:38px;
	float:left;
	line-height: 38px;
    font-size: 28px;
	color:#aca3cc;
}

.fabulous{
	width:58px;
	height:32px;
	margin-left: 700px;
	border-radius: 18px;
	margin-top: 50px;
	background-color: rgba(0,0,0,.4);
    float: left;
}

.fabulous i{
	width: 16px;
    height: 16px;
    position: absolute;
    margin-left: 8px;
    margin-top: 8px;
	background-image: url(images/4.png);
    background-size: 575px 41px;
}

.num{
	color:#fff;
	margin-left: 32px;
	margin-top: 13px;
	line-height: 30px;
}

.userImg{
	width: 128px;
    height: 128px;
	background-color:#fff;
	float: left;
	margin-top: 10px;
}

#addo-page {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#addo-aside {
    padding: 60px 30px;
    width: 15%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 1001;
    background: #101010;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1200px) {
    #addo-aside {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    #addo-aside {
        width: 270px;
        -moz-transform: translateX(-270px);
        -webkit-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
        padding-top: 4em;
    }
}

#addo-aside #addo-logo {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 60px;
    display: block;
    width: 100%;
}

#addo-aside #addo-logo span {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #888;
    font-weight: 400;
    letter-spacing: 3px;
}


@media screen and (max-width: 768px) {
    #addo-aside #addo-logo {
        margin-bottom: 60px;
    }
}

#addo-aside #addo-logo a {
    display: inline-block;
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
}


#addo-aside #addo-logo a span {
    display: block;
    margin-top: 0px;
    text-align: center;
}

#addo-aside #addo-main-menu ul {
    text-align: left;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    #addo-aside #addo-main-menu ul {
        margin: 0 0 30px 0;
    }
}

#addo-aside #addo-main-menu ul li {
    margin: 15px 0 15px 0;
    padding: 0 0 10px 0;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75em;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #202020;
}

#addo-aside #addo-main-menu ul li a {
    color: #888;
    text-decoration: none;
    position: relative;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#addo-aside #addo-main-menu ul li a:hover {
    text-decoration: none;
    color: #fff;
}

#addo-aside #addo-main-menu ul li.addo-active a {
    color: #fff;
}

#addo-aside #addo-main-menu ul li.addo-active a:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}



.userImg_right{
	width: 379px;
    height: 99px;
	float: left;
	margin-left:15px;
	margin-top: 10px;
	font-family: punctuation,"PingFangSC-Regular","Microsoft Yahei","sans-serif";
}

.userImg_right_top{
	width: 379px;
    height: 27px;
}
.userImg_right_top span{
	width: 145px;
    height: 26px;
	margin-left:3px;
	float:left;
	display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
	cursor: pointer;
	color: black;
	font-size: 20px;

}
span{
  color: gray;
}
div{
  color: black;
}
.userImg_right_down{
	width: 379px;
    height: 62px;
	margin-top:9px;
}

.info_menu{
	width: 1046px;
    height: 50px;
	position: relative;
	margin-top: -30px;
	color: #ccc7d9;
	float:left;
}

.menu_1{
	width:58px;
	height:50px;
	line-height:50px;
	font-size: 14px;
	text-align:center;
	float:left;
	cursor: pointer;
}

.userImg_right_down_1{
	float:left;
	width:40px;
	height:40px;
}

.bottom_block{
	width:1038px;
	height:900px;
	margin:0 auto;
}

.bottom_left{
	width:170px;
	height:600px;
	float:left;
}

.bottom_left_1{
	width:170px;
	height:300px;
	background-color:#403366;
	border-radius:4px;
}

.bottom_left_1_list{
	width:170px;
	height:37px;
	border-radius:2px;
}

.bottom_left i{
	background-image: url(images/1.png);
	background-repeat:no-repeat;
	position: absolute;
	background-size: 632px 388px;
	width:16px;
	height:16px;
	margin-left:18px;
	margin-top:13px;
	float:left;
}

.bottom_left_1_list_text{
	color: #ccc7d9;
	width:126px;
	height:35px;
	line-height:42px;
	margin-left:44px;
	font-size:12px;
	float:left;
	margin-top:1px;
}

.bottom_middle{
	width:592px;
	height:800px;
	margin-left:23px;
	float:left;
}

.bottom_middle i{
	background-image: url(images/1.png);
	background-repeat:no-repeat;
	position: absolute;
	background-size: 632px 388px;
	width:24px;
	height:24px;
	margin-left:11px;
	margin-top:22px;
	float:left;
}

.bottom_middle_top{
	width:592px;
	height:70px;
	color: #827a99;
	font-size:14px;
	background-color:#473a6e;
}

.bottom_middle_top_input{
	width:443px;
	height:68px;
	float:left;
}
.bg-lightGreen{
  background-color: #95e6b3;
}
.camera{
	width:48px;
	height:68px;
	float:left;
	margin-left:50px;
    background-color: #3b2f61;
	border:0.5px solid #352a54;
}

.bottom_middle_2{
	width:591px;
	height:45px;
	float:left;
	background-color: #3b2f61;
	margin-top:13px;
	border:0.5px solid #2e244f;
}

.bottom_middle_2_1{
	width:66px;
	height:35px;
	float:left;
	color: #ccc7d9;
	font-weight: 700;
	font-size:14px;
	line-height:35px;
	margin-top:5px;
}

.bottom_middle_2_2{
	float:left;width:10px;height:10px;
}

.bottom_middle_2_3{
	float:left;width:24px;height:24px;margin-left:420px;
}

.bottom_middle_2_4{
	float:left;width:24px;height:24px;margin-left:20px;
}

.context{
	width:591px;
	height:300px;
	background-color: #3b2f61;
	margin-top:13px;
	float:left;
}

.bottom_right{
	width:230px;
	height:600px;
	background-color:#bbb;
	margin-left:23px;
	float:left;
}
————————————————
版权声明：本文为CSDN博主「对明天的期待丶」的原创文章，遵循 CC 4.0 BY-SA 版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/qq_39429962/article/details/82872330
